*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#root{
    background: #CF0A2C;
}
.bodyAdmin{
    color: white;
 margin-left: 80px;
 margin-top: 80px;
 transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #990720;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__bars{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid black;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side::-webkit-scrollbar{
    display: none;
}

.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.div__name{
    position: absolute;
    padding: 20px 30px;
}
.name__page{
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.icon__name{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}
.options__link{
    color: rgba(255, 255, 255, 0.541);
    cursor: default;
    display: block;
    position: relative;
    transition: all 300ms;
    text-decoration: none;
}
.options__link:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.icon-option{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

.selected{
    color: white;
}
.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10px;
    left: -30px;
}

.body__move{
    margin-left: 250px;
}

.menu__side__move{
    width: 250px;
}

@media screen and (max-width: 760px){
    .body__move{
        margin-left: 0px;
    }

    .menu__side__move{
        width: 80px;
        left: -80px;
    }
}

table{
    color: white !important;
}

.card{
    background: black;
}