@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#root{
    background: #CF0A2C;
}
.bodyAdmin{
    font-family: 'Poppins', sans-serif;
    color: white;
 margin-left: 80px;
 margin-top: 80px;
 transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.bodyAdmin hr{
    color: white;
}
main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #990720;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__bars{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid black;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side::-webkit-scrollbar{
    display: none;
}

.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.div__name{
    position: absolute;
    padding: 20px 30px;
}
.name__page{
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    color: white !important;
}

.icon__name{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}
.options__link{
    color: rgba(255, 255, 255, 0.541);
    cursor: default;
    display: block;
    position: relative;
    transition: all 300ms;
    text-decoration: none;
}
.options__link:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.icon-option{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

.selected{
    color: white;
}
.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10px;
    left: -30px;
}

.body__move{
    margin-left: 250px;
}

.menu__side__move{
    width: 250px;
}

@media screen and (max-width: 760px){
    .body__move{
        margin-left: 0px;
    }

    .menu__side__move{
        width: 80px;
        left: -80px;
    }
}

/* Css table */
  table h1 {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: aliceblue;
  }
  
  table h2 {
    font-size:1em; 
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
  }
  
  table h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
  }
  
  .blue { color: #185875; }
  .red { color: #CF0A2C; }
  
  .containerTable th h1 {
        font-weight: bold;
        font-size: 1em;
    text-align: left;
    color: #b1c7d1;
  }
  
  .containerTable td {
        font-weight: normal;
        font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
         -moz-box-shadow: 0 2px 2px -2px #0E1119;
              box-shadow: 0 2px 2px -2px #0E1119;
  }
  
  .containerTable {
        text-align: left;
        overflow: hidden;
        width: 100%;
    display: table;
    padding: 0 0 8em 0;
  }
  .containerTable td{
    color: rgb(122, 127, 131);
  }
  
  .containerTable td, .containerTable th {
        padding-bottom: 2%;
        padding-top: 2%;
    padding-left:2%;  
  }
  
  /* Background-color de filas impares*/
  .containerTable tr:nth-child(odd) {
        background-color: #323C50;
  }
  
  /* Background-color de filas pares */
  .containerTable tr:nth-child(even) {
        background-color: #2C3446;
  }
  
  .containerTable th {
        background-color: #1F2739;
  }
  
  .containerTable td:first-child { color: #FB667A; }
  
  .containerTable tr:hover {
     background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
         -moz-box-shadow: 0 6px 6px -6px #0E1119;
              box-shadow: 0 6px 6px -6px #0E1119;
  }
  
  .containerTable td:hover {
    background-color: #ad4256;
    color: whitesmoke;
    font-weight: bold;
    
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    transition-timing-function: line;
  }
  

  /* Css de card Producto */


.containerCard{
    position: relative;
}

.containerCard .cardProducto{
    position: relative;
    cursor: pointer;
}

.containerCard .cardProducto .face{
    width: 100%;
    height: 250px;
    transition: 0.5s;
}

.containerCard .cardProducto .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerCard .cardProducto:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.containerCard .cardProducto .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.containerCard .cardProducto:hover .face.face1 .content{
    opacity: 1;
}

.containerCard .cardProducto .face.face1 .content img{
    max-width: 100px;
}

.containerCard .cardProducto .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.containerCard .cardProducto .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-150px);
}

.containerCard .cardProducto:hover .face.face2{
    transform: translateY(0);
}

.containerCard .cardProducto .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: black;
}

.containerCard .cardProducto .face.face2 .content .etiqueta{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    background: #fff;
    border-radius: 0px;
}


.containerCard .cardProducto .face.face2 .content .etiqueta:hover{
    background: #333;
    color: #fff;
}

.etiqueta{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    background: #fff;
    border-radius: 5px;
}

.etiqueta:hover{
    background: #333;
    color: #fff;
}
.text-bg-confirmado{
    background: #d1e7dd;
    color:rgb(122, 127, 131)
}

.text-bg-pendiente{
    background: #fff3cd;
    color:rgb(122, 127, 131)
}

.logo{
    width: 50px;
    margin-left: auto;
    margin-right: 30px;
}
