@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
#root{
    background-color: #CF0A2C;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    background-color:rgb(207,10,44);
  }

.mainSection{
    flex-grow: 1;
}

.blanco{
    background-color: #FFFF;
}
.negro{
    background-color: black;
}
.rojo{
    background-color: #CF0A2C;
}
.borde{
    border: solid black 20px;
    border-radius: 35px;
}
.input{
    width: 96%;
    border-radius: 20px;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}


/*Pagina inicio*/

.caruselInicio{
    width: 100%;
    object-fit: cover;
    
    
    
}

.carousel-indicators{
    display: none;
} 

.fraseInicio{
    font-size: 30px;
    color: white;
    font-style:italic;
    font-family: cursive;

}

.imgFrase{
   width: 100%;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgb(26, 26, 26);
   
}

.divFrase{
    width: 50%;
}


.tarjetas{
    width: 17rem;
   justify-content: center;
    margin-top: 25px;
    box-shadow: 0px 5px 10px 0px rgb(26, 26, 26);
    transition: 200ms;
    border-radius: 15px;
}

.imgTarjetas{
width: 100%;
height:25rem;
object-fit: unset;
border-radius: 15px;

}

.tarjetas:hover{
    transition: ease;
}

.textInicio{
    font-family: 'Cabin Sketch', cursive;
}




@media all and (max-width:756px){
    .imgFrase{
        width: 100%;
         border-radius: 15px;
        
     }

     .divFrase{
        width: 100%;
    }

    .giroImg{
        display: flex;
        flex-direction: column-reverse;

    }

   
    
}

@media all and (min-width: 756px) and (max-width: 991px){
    .imgFrase{
        width: 100%;
         border-radius: 15px;
         





        
     }

     .divFrase{
        width: 100%;
        
    }
    .giroImg{
        display: flex;
        flex-direction: column-reverse;

    }

}



