#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    flex-grow: 1;
}

.caruselInicio{
    object-fit: cover;
    height: 30rem;
}
.tituloCarusel{
   display: flex;
   justify-content: center;
   margin-bottom: 10rem;
}
.parrafoCarusel{
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.imgRestaurant{
   border-radius: 50%;
}
.colorTitulosCard{
    color: black;
    box-shadow: 0px 0px 0px 0px;
    font: initial;
    font-size: 200%;
}
