#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    background-color:rgb(207,10,44);
  }

.mainSection{
    flex-grow: 1;
}

.caruselInicio{
   object-fit: cover;
    height: 30rem;
    width: 100%;

}
.tituloCarusel{
   display: flex;
   justify-content: center;
   margin-bottom: 10rem;
}
.parrafoCarusel{
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}


.colorTitulosCard{
    color: rgb(0,0,0);
    box-shadow: 0px 0px 0px 0px;
    font: initial;
    font-size: 200%;
}


.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
  }

