@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

#root{
    background-color: #CF0A2C;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    flex-grow: 1;
}

.blanco{
    background-color: #FFFF;
}
.negro{
    background-color: black;
}
.rojo{
    background-color: #CF0A2C;
}
.borde{
    border: solid black 20px;
    border-radius: 35px;
}
.input{
    width: 96%;
    border-radius: 20px;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}